*{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
}
body{
  background-color: #f5f6fa;
}
.App {
  display:flex;
  justify-content: space-evenly;
  padding : 20px;
}
.app__header{
  display: flex;
  align-items: center;
  margin-bottom : 20px;
  justify-content: space-between;

}
.app__stats{
  display: flex;
  justify-content: space-between;
}
.app__left{
  flex: 0.9;
}
.app_right{
  padding : 10px;
}
@media (max-width: 900px){
  .App{
    flex-direction: column
  }
  .app__header{
    flex-direction: column;
  }
  .MuiFormControl-root{
    width: 100%;
  }
  .app__stats{
    flex-direction: column;
  }
  .app__left{
    margin-bottom: 1rem;
  }
}